.Rproj.user
.Rhistory
.RData
.Ruserdata

notas

# Archivos pesados
produccin-de-petrleo-por-yacimiento.csv
produccin-de-gas-por-yacimiento.csv

importaciones-exportaciones.csv
produccin-de-pozos-de-gas-y-petrleo-2021.csv